<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Intro To JS Arrays</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Link CSS of JavaScript File Here -->
    <link rel="stylesheet" href="app.css">
    <script type="text/javascript" src="script.js"></script>
</head>

<body>

    <div class="container">
        <h1><u>Intro To JS Arrays:</u></h1>

        <a href="http://webdev.slides.com/coltsteele/javascript-basics-20-61" target="_blank">JS Array Slides</a>


        <h4>Objectives:</h4>
        <ul>
            <li>Understand Arrays Conceptually</li>
            <li>Write code using JS Arrays</li>
        </ul>

        <h4>Notes:</h4>
        <ul>
            <li>Index starts with 0</li>
            <ul>
                <li>array[0] = first element of array</li>
            </ul>
            <li>Able to have multiple data types in single array</li>
            <li>Arrays have Length</li>
            <ul>
                <li>array.length</li>
                <li>Length starts with 1 while index starts with 0</li>
                <li>length - 1 = all the index numbers</li>
            </ul>
        </ul>



    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>

</body>

</html>