<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>jQuery Methods</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Link CSS of JavaScript File Here -->
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <h1>jQuery Methods Demo Page:</h1>

    <input type="text" placeholder="your name">
    <br>
    <select name="" id="">
        <option value="">Ostrich</option>
        <option value="">Turtle</option>
        <option value="">Toad</option>
    </select>

    <ul>
        <li>Skittles</li>
        <li>Starburst</li>
        <li>Twix</li>
    </ul>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAWrNu1pCVH1sMxGEUwyXE97qRdpyNgojXj37uvN42909V87b7" alt="">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAWrNu1pCVH1sMxGEUwyXE97qRdpyNgojXj37uvN42909V87b7" alt="">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAWrNu1pCVH1sMxGEUwyXE97qRdpyNgojXj37uvN42909V87b7" alt="">



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="script.js"></script>
    </div>


</body>

</html>