<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Attr and Val Notes</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Link CSS of JavaScript File Here -->
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <h1>Attr and Val Notes:</h1>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <h4>Objectives:</h4>
    <ol>
        <li> <a href="http://api.jquery.com/val/" target="_blank">val()</a></li>

        <li> <a href="http://api.jquery.com/text/" target="_blank">text()</a> </li>
        <li><a href="http://api.jquery.com/attr/" target="_blank">attr()</a></li>
        <li><a href="http://api.jquery.com/html/" target="_blank">html()</a></li>
        <li>addClass()</li>
        <li>removeClass()</li>
        <li>toggleClass()</li>
    </ol>
    <div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="script.js"></script>
    </div>

</body>

</html>