/* Element */
body {
    color: rgb(240, 244, 248);


}


/* Class */
.hello {}


/* id */
#name {}


/* Star */
/* Selects Everything on the page */
* {
    /* border: 1px solid lightgray; */
    /* background-color: black */
    background: url(https://i0.wp.com/freshimports.org/wp-content/uploads/2016/04/background-horizontal-dark-wood.jpeg);
    background-repeat: no-repeat;
}


/* Descendant Selector */
/* Take 2 or more selectors and chains them together */
li a {

    color: red;

}


/* Adjacent Selector */
/* Elements that come after another element  */
/* Select all elements after h4*/
h4+ul {
    border: 2px red solid;
}

/* Attribute Selector */
/* Selector based off and attribute  */
/* Doing it based off the href attribute */
/* Ex. All images from specific source or all check boxes  */

a[href="http://www.google.com"] {
    background: blue;
}

/* nth of type */
/* take number and selects ever nth of specific element  */
li:nth-of-type(odd) {
    background: darkmagenta;
}