<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Event Notes</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Link CSS of JavaScript File Here -->
    <!-- <link rel="stylesheet" href="app.css"> -->
</head>

<body>
    <div class="container">
        <h1>Event Notes:</h1>

        <h4>keypress()</h4>
        <a href="http://api.jquery.com/keypress/" target="_blank">keypress() Docs:</a>
        <ul>
            <li>adds key press listener to element(s)</li>
        </ul>

        <a href="http://api.jquery.com/keydown/" target="_blank">keydown() Docs:</a>
        <a href="http://api.jquery.com/keyup/" target="_blank">keyup() Docs:</a>
        <a href="https://keycode.info">Keycodes:</a>
        <a href="https://www.cambiaresearch.com/articles/15/javascript-char-codes-key-codes" target="_blank">More Keycodes:</a>

        <h1>.on()</h1>
        <ul>
            <li></li>
        </ul>

        <h4>Why Use On():</h4>
        <ul>
            <li>click() only adds listeners for existing elements</li>
            <li>on() will add listeners for all potential future elements</li>
        </ul>


    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- <script type="text/javascript" src="script.js"></script> -->
    </div>

</body>

</html>