<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Grid + Flexbox</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Or Link CSS File -->
    <!-- <link rel="stylesheet" href="app.css"> -->
</head>

<body>
    <div class="container">
        <h1 class=" text-center"><u>Grid + Flexbox</u></h1>

        <div class="row border justify-content-around">
            <div class=" col-sm-3 bg-warning ">
                Ex laborum ea anim minim ut aliqua. Tempor labore consequat et id consectetur commodo eiusmod dolor est. Do quis fugiat ex elit culpa id voluptate cillum sint est. Irure magna Lorem qui reprehenderit voluptate occaecat.
            </div>
            <div class=" col-sm-3 bg-info ">
                Ad officia excepteur incididunt cupidatat nisi irure mollit aliqua ut cillum ea nisi esse exercitation. Ex laborum ea anim minim ut aliqua. Tempor labore consequat et id consectetur commodo eiusmod dolor est. Do quis fugiat ex elit culpa id voluptate cillum sint est. Irure magna Lorem qui reprehenderit voluptate occaecat.
            </div>
            <div class=" col-sm-3 bg-warning ">
                Ex laborum ea anim minim ut aliqua. Tempor labore consequat et id consectetur commodo eiusmod dolor est. Do quis fugiat ex elit culpa id voluptate cillum sint est. Irure magna Lorem qui reprehenderit voluptate occaecat.
            </div>

        </div>

        <h3>Distributing The Space:</h3>
        <div class="row border justify-content-around align-items-center">
            <div class=" col-sm-3 bg-warning ">
                Ex laborum ea anim minim ut aliqua. Tempor labore consequat et id consectetur commodo eiusmod dolor est. Do quis fugiat ex elit culpa id voluptate cillum sint est. Irure magna Lorem qui reprehenderit voluptate occaecat.
            </div>
            <div class=" col-sm-3 bg-info ">
                Ad officia excepteur incididunt cupidatat nisi irure mollit aliqua ut cillum ea nisi esse exercitation. Ex laborum ea anim minim ut aliqua. Tempor labore consequat et id consectetur commodo eiusmod dolor est. Do quis fugiat ex elit culpa id voluptate cillum sint est. Irure magna Lorem qui reprehenderit voluptate occaecat.
            </div>
            <div class=" col-sm-3 bg-warning ">
                Ex laborum ea anim minim ut aliqua. Tempor labore consequat et id consectetur commodo eiusmod dolor est. Do quis fugiat ex elit culpa id voluptate cillum sint est. Irure magna Lorem qui reprehenderit voluptate occaecat.
            </div>

        </div>

        <div class="row border justify-content-center align-items-end">

            <div class=" col-2 bg-primary align-self-start">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, sunt!
            </div>
            <div class=" col-2 bg-primary align-self-center">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, sunt!
            </div>
            <div class=" col-2 bg-success">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ratione neque quod vel tempora labore nostrum veritatis! Veniam eaque voluptatibus dolor delectus adipisci quo illo. Ducimus velit repudiandae neque consequuntur!
            </div>
            <div class=" col-2 bg-primary align-self-auto">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, sunt!
            </div>
            <div class=" col-2 bg-primary align-self-baseline">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, sunt!
            </div>
        </div>

        <div class=" row text-center justify-content-around">
            <div class=" col-md-6 bg-danger col-lg-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur distinctio nulla numquam ducimus ea incidunt, officiis molestias molestiae reprehenderit debitis!
            </div>
            <div class=" col-md-6 bg-danger col-lg-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur distinctio nulla numquam ducimus ea incidunt, officiis molestias molestiae reprehenderit debitis!
            </div>
        </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>

</body>

</html>