<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Functions Problem Set:</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Link CSS of JavaScript File Here -->
    <link rel="stylesheet" href="app.css">
    <script type="text/javascript" src="functions.js"></script>
</head>

<body>

    <div class="container">
        <h1>Functions Problem Set:</h1>

        <ol>
            <li>isEven(num):</li>
            <ul>
                <li>Take is a #</li>
                <li>Returns true if even</li>
                <li>Returns False otherwise</li>
            </ul>
            <li>factorial(num):</li>
            <ul>
                <li>Returns the factorial of the input number</li>
            </ul>
            <li>kebabToSnake():</li>
            <ul>
                <li>takes a single kebab-cased string arg </li>
                <li>Returns the snake_cased version </li>
                <li>Replace "-" with "_" </li>
            </ul>
        </ol>


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>

</body>

</html>