body {
    padding-top: 70px;
}

.jumbotron {
    color: #2c3e50;
}

.navbar {
    background: #2c3e50;
    color: white;
    ;

}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav {
    color: white;
}