<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Intro to Objects</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Link CSS of JavaScript File Here -->
    <link rel="stylesheet" href="app.css">
    <script type="text/javascript" src="script.js"></script>
</head>

<body>
    <div class="container">
        <h1>Intro to Objects:</h1>
        <ul>
            <li>Objects don’t have specific order</li>
            <li>2 Ways of Retrieving Data:</li>
            <ol>
                <li>object["key"]</li>
                <ul>
                    <li>Can lookup using a var but cant with dot </li>
                </ul>
                <li>object.key</li>
                <ul>
                    <li>Cant use with object with space</li>
                    <li>Can't use if object starts with a number</li>
                </ul>
            </ol>
            <li>Creating Objects:</li>
            <ol>
                <li>var object = {};</li>
                <li>var object = new Object();</li>
            </ol>
        </ul>

        <h4>Object vs Arrays</h4>
        <h5>Objects:</h5>
        <ul>

        </ul>
        <h5>Arrays:</h5>
        <ul>

        </ul>





    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>

</body>

</html>