<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Adding JS Methods</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Link CSS of JavaScript File Here -->
    <!-- <link rel="stylesheet" href="app.css"> -->
    <!-- <script type="text/javascript" src="script.js"></script> -->
</head>

<body>

    <div class="container">
        <h1>Adding JS Methods:</h1>
        <p>Topics:</p>
        <ul>
            <li>Adding method to an object</li>
            <li>Namespacing</li>
            <li>The keyword <em>this</em></li>
            <ul>
                <li></li>
            </ul>
        </ul>





    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>

</body>

</html>