/* 
Border color: #bdc3c7
date color: #3498db
h2 color: #2c3e50
font: source sans pro

*/

body {
  border: 10px solid #bdc3c7;
  padding: 20px;
  max-width: 700px;
  width: 80%;
  margin: 20px auto;
  font-family: Source Sans Pro;
}

h2 {
  color: #2c3e50;
}

.post {
}

.date {
  color: #3498db;
  text-transform: uppercase;
  /* Adds 1.2 to the letter spacing */
  letter-spacing: 0.2rem;
}

.title {
  color: #2c3e50;
  font: bold;
  font-size: 2rem;
}

.quote {
  border-left: 2px solid #bdc3c7;
  padding-left: 5px;
}

hr {
  border: 3px solid rgba(128, 128, 128, 0.408);
  border-radius: 3px;
}
