<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Color Toggle Events</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Link CSS of JavaScript File Here -->
    <!-- <link rel="stylesheet" href="app.css"> -->
</head>

<body>
    <div class="container">
        <h1>Color Toggle Events:</h1>
        <a href="http://webdev.slides.com/coltsteele/dom-events-73#/" target="_blank">Slides:</a>
        <h5>Events Are Everywhere:</h5>
        <ul>
            <li>Clicking on a button</li>
            <li>Hovering over a link</li>
            <li>Gragging and Dropping</li>
            <li>Pressing the Enter key</li>
        </ul>
        <h5>The Process:</h5>
        <ul>
            <li>select an element and then add events listener</li>
            <ul>
                <li>Listen for a click on this "button"</li>
            </ul>
        </ul>

        <h5>The Syntax:</h5>
        <ul>
            <li>To add a listener, we use a method called addEvenListener</li>
            <li>element.addEventListener(type, functionToCall);</li>
            <li>Can have more than one listener on a element</li>
        </ul>
        <h6>Example:</h6>
        <button>Click Me:</button>
        <p>No One Has Clicked Me Yet</p>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <script type="text/javascript" src="script.js"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>

</body>

</html>