body {
    background: black;
    color: white;
}

ol {
    font-weight: 200;
    font-size: 1.5rem;
}

ul {
    font-size: 1.2rem;
}

p {
    font-size: 1.25rem;
}

.big {
    font-size: 100px;
    color: orange;
    border: 5px solid red;
}