<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Attributes</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Link CSS of JavaScript File Here -->
    <link rel="stylesheet" href="app.css">
    <!-- <script type="text/javascript" src="script.js"></script> -->
</head>

<body>

    <div class="container">
        <h1>Attributes:</h1>
        <a href="http://webdev.slides.com/coltsteele/deck-30-31-72#/8" target="_blank">Slides: <br></a>
        <ul>
            <li>getAttribute(): to read </li>
            <li>setAtrribute(): to white</li>
            <ul>
                <li>Takes 2 Args:</li>
                <li>1. attribute you want to change </li>
                <li>2. what you are changing it to </li>
            </ul>
        </ul>
        <a href="www.google.come">T am a link <br></a>
        <img src="logo.png" alt="">



    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="script.js"></script>

    </div>

</body>

</html>