body {
    background: black;
    color: white;
    font-size: 10px;
}

/*font-family*/
/* Must have quoats if font begins with a number  */
p {
    font-family: Raleway;
}

h1 {
    font-family: Indie Flower;
}

/*font-size*/
/* em: is a relative font size: relative to the parent of the element */
h1 {
    font-size: 5em;

}

p {
    font-size: 2.0em;
}

span {
    font-size: 2.5em;
}

/* font-weight */
/*  */
p {
    font-weight: normal;
}

/* line-hight */
p {
    line-height: 1.5;
}

/* text-align */

h1 {
    text-align: right;
}

p {
    text-align: center;
}

/* text-decoration */

p {
    text-decoration: underline;
}

h1 {
    text-decoration: line-through;
}