<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Responsive Grid</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Or Link CSS File -->
    <!-- <link rel="stylesheet" href="app.css"> -->
</head>

<body>

    <div class="container">
        <h1 class=" text-center"> <u>Responsive Grid:</u> </h1>
        <a href="https://getbootstrap.com/docs/4.3/layout/grid/" target="_blank"><u>Grid System Docs:</u></a>
        <h5>Notes:</h5>
        <ul>
            <li>Default as xs and then apply things to the other sizes</li>
            <li>12 Cols </li>
            <li>Built with flexbox by default</li>
            <li>Must be inside a container div and div with class row</li>
        </ul>

        <div class="row border border-danger">
            <h3 class=" col-6 bg-info m-0">THING 1</h3>
            <h3 class=" col-6 bg-warning m-0">THING 2</h3>
        </div>

        <h3>Split Then Stack when </h3>
        <div class="row border border-danger">
            <h3 class=" col-sm-6 col-xl-3 bg-info m-0 text-center">THING 1</h3>
            <h3 class=" col-sm-6 col-xl-9 bg-warning m-0 text-center">THING 2</h3>
        </div>

        <h3>Middle always 2x bigger</h3>
        <div class="row">
            <div class="col bg-primary text-center">THING</div>
            <div class="col-6 bg-info text-center">THING</div>
            <div class="col bg-success text-center">THING</div>

        </div>

    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>

</body>

</html>