<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Boolean Logic</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Or Link CSS File -->
    <link rel="stylesheet" href="app.css">
</head>

<body>

    <div class="container">
        <h1 class=" text-center"> <u>Boolean Logic</u></h1>
        <a href="http://webdev.slides.com/coltsteele/deck-4-47" target="_blank">Boolean Logic Slides:</a>

        <h4>Boolean Logic:</h4>
        <ul>
            <li>Starts with idea that a statement is true or false</li>
            <li>Equality Operations</li>
            <ul>
                <li>"==": Performs type coercion</li>
                <li>"===": Does not</li>
                <li>EX: <br>var y = "99" <br> y==undefined (true) <br> y=== undefined (false)</li>
            </ul>
        </ul>

        <h4>A Few Interesting Cases:</h4>
        <code class="hljs">
            <br>
            <span class="hljs-literal">true</span> == <span class="hljs-string">"1"</span> <span class="hljs-comment">//true</span>
            <br>
            <span class="hljs-number">0</span> == <span class="hljs-literal">false</span> <span class="hljs-comment">//true</span>
            <br>
            <span class="hljs-literal">null</span> == <span class="hljs-literal">undefined</span> <span class="hljs-comment">//true</span>
            <br>
            <span class="hljs-literal">NaN</span> == <span class="hljs-literal">NaN</span> <span class="hljs-comment">//false</span>
            <br>
        </code>
        <img src="imgs/Comparison_Operators.png" alt="">

    </div>


    <script src="script.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>

</body>

</html>