body {
    color: rgb(240, 244, 248);
    background: url(https://i0.wp.com/freshimports.org/wp-content/uploads/2016/04/background-horizontal-dark-wood.jpeg);
    background-repeat: no-repeat;




}

h1 {
    color: rgb(240, 0, 100);
    /* Creating Borders */
    /* border-color: purple;
    border-width: 5px;
    border-style: solid; */
    border: purple solid 5px;
}

h2 {
    color: #65d2eb;
}

h3 {
    color: rgb(11, 113, 150);
}

h4 {}

div {
    background: #696a6a;
}