<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Manipulating Text and Content</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Link CSS of JavaScript File Here -->
    <link rel="stylesheet" href="app.css">
    <!-- <script type="text/javascript" src="script.js"></script> -->
</head>

<body>

    <div class="container">
        <h1>Manipulating Text and Content:</h1>
        <a href="http://webdev.slides.com/coltsteele/deck-30-31-72#/6" target="_blank">Slides:</a>

        <h4>textContent:</h4>
        <ul>
            <li>Returns a string of all the text contained in a given element</li>
            <li>It will remove all the structure if you change text</li>
        </ul>

        <p>This is an <strong>Awesome</strong> Paragraph</p>
        <ul>
            <li>Orchids</li>
            <li>Something Else </li>
            <li>James</li>
        </ul>

        <h4>innerHTML:</h4>
        <ul>
            <li>returns a string of all the HTML contained in a given element</li>
            <li>keeps the structure of the text</li>
            <li>Useful for when you need to keep structure</li>
        </ul>
        <p>This is an <strong>Awesome</strong> Paragraph</p>



    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="script.js"></script>

    </div>

</body>

</html>