<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Backend Into</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Link CSS of JavaScript File Here -->
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <div class="container">
        <h1>Intro to Backend:</h1>

        <a href="http://webdev.slides.com/coltsteele/into-to-backend-45" target="_blank">Backend Slides:</a>

        <ol>
            <li>Finding the right Address</li>
            <ul>
                <li>Query is submitted to your ISP</li>
                <li>DNS takes the domain name and turns it into an IP address</li>
                <li>www.udemy.com --> 23.235.47.175</li>
            </ul>
            <li>Server Responds</li>
            <ul></ul>

        </ol>

        <h4>Static vs Dynamic:</h4>
        <h6>Static:</h6>
        <ul>
            <li>Same peaces every time</li>
            <li>Same content every time</li>
        </ul>
        <h6>Dynamic:</h6>
        <ul>
            <li>Sites compiled on the server side</li>
            <li>Different html and css every time</li>
            <li>DB compiling things then sending it back</li>
        </ul>

        <div class=" iframe-container">
            <iframe src="//webdev.slides.com/coltsteele/into-to-backend-45/embed" width="576" height="420" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        </div>

        <h4>Get Request:</h4>
        <ul>
            <li>Used when getting data for a webpage</li>
            <li>not used to send data - except for the sending of the request query</li>
            <li>Doesn't add anything to the site database</li>
        </ul>






    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>-->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="script.js"></script>
    </div>

</body>

</html>