<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Text and HTML</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Link CSS of JavaScript File Here -->
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <h1>Text And HTML:</h1>
    <ol>
        <li>Skittles</li>
        <li>Starburst</li>
        <li>Twix</li>
    </ol>

    <h4>Notes:</h4>
    <ul>
        <li>$('h1').text()</li>
        <ul>
            <li>Returns the text content of the elements you select</li>
            <li>Also can set the text content with this </li>
        </ul>

    </ul>

    <h6>Getting the HTML:</h6>
    <ul>
        <li>$("h1").html()</li>
        <li>Returns the html content </li>
        <li>Also able to edit the html content</li>
    </ul>
    <p id="html">HTML Content example</p>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="script.js"></script>
    </div>

</body>

</html>