<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Array Problem Set</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Link CSS of JavaScript File Here -->
    <link rel="stylesheet" href="app.css">
    <script type="text/javascript" src="script.js"></script>
</head>

<body>
    <div class="container">
        <h1>Array Problem Set:</h1>


        <ol>
            <li>printReverse()</li>
            <ul>
                <li>Take an array as arg and prints our the elements in reverse order</li>
            </ul>
            <li>isUniform()</li>
            <ul>
                <li>takes in array and tells if all elements are equal</li>
            </ul>
            <li>sumArray()</li>
            <ul>
                <li>arg - array of numbers</li>
                <li>Returns the sum </li>
            </ul>
            <li>max()</li>
            <ul>
                <li>Return max number in array </li>
            </ul>
        </ol>


    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>

</body>

</html>