<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Manipulating Style</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Link CSS of JavaScript File Here -->
    <link rel="stylesheet" href="app.css">
    <!-- <script type="text/javascript" src="script.js"></script> -->
</head>

<body>

    <div class="container">
        <h1>Manipulating Style:</h1>

        <ul>
            <li id="highlight">changing an element's style</li>
            <li>adding/removing classes</li>
            <li>changing the content of a tag</li>
            <li> changing attributes(src, href, etc.)</li>
            <li>Best to style with a class in css</li>
            <ul>
                <li>Then use js to turn class on or off</li>
            </ul>
        </ul>

        <h4>Class List - classList</h4>
        <ul>
            <li>Is a read-only list that contains the classes for a given element</li>
            <li>It is not an array</li>
        </ul>

        <h4>Style:</h4>
        <p>CSS - is for style while js is good for changing thinks dynamical</p>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="script.js"></script>

    </div>

</body>

</html>