<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Breakpoints</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Or Link CSS File -->
    <!-- <link rel="stylesheet" href="app.css"> -->
</head>

<body>

    <div class="container">
        <h1>Breakpoints:</h1>
        <a href="https://getbootstrap.com/docs/4.3/layout/overview/" target="_blank">Breakpoint Bootstrap Docs:</a>
        <p>Adding margin and padding depending on screen size</p>

        <button class="btn btn-warning p-sm-5 p-md-0 p-lg-5 p-x">Button</button>
        <br><br>
        <button class="btn btn-danger p-0 s-sm-2 p-md-3 p-lg-4 p-xl-5">Button</button>
        <br><br>
        <button class=" btn btn-success p-0 pl-sm-5 pt-md-5 pr-lg-5 pb-xl-5">Button</button>

        <h3> <br> Margin Example:</h3>

        <button class=" btn btn-primary p-4 mx-lx-5 mx-lg-4 mx-md-3 mx-sm-2 mx-0">Hi</button>
        <button class=" btn btn-primary p-4 mx-xl-5 mx-lg-4 mx-md-3 mx-sm-2 mx-0">Hi</button>
        <button class=" btn btn-primary p-4 mx-xl-5 mx-lg-4 mx-md-3 mx-sm-2 mx-0">Hi</button>
        <button class=" btn btn-primary p-4 mx-xl-5 mx-lg-4 mx-md-3 mx-sm-2 mx-0">Hi</button>


        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        </div>

</body>

</html>