<h1>You fell in love with: <%= thingVar %> </h1>

<% if(thingVar.toLowerCase() === "james") { %>
    <p>Good Choice James is a good name</p>
<% } else { %>
    <p>Sorry your name is not james</p>
<% } %>

<h1>This is the love.ejs file</h1>