<h1>The Post Page</h1>


<% for(var i = 0; i < posts.length; i++){ %>
<li><%= posts[i].title %> - <%= posts[i].author %></li>
<% } %>

<% posts.forEach(function(post) { %>
    <li>
        <%= post.title %> - <%= post.author%>
    </li>

<% }) %>