body {
    background: black;
    color: white;
}


td {
    width: 100px;
    height: 100px;
    /* background: pink; */
}

h1 {
    text-align: center;
}

table {
    margin: auto;
}


.vertical {
    border-left: 2px solid white;
    border-right: 2px solid white;

}

.horizontal {

    border-top: 2px solid white;
    border-bottom: 2px solid white;

}