<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Intro to Functions</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Link CSS of JavaScript File Here -->
    <link rel="stylesheet" href="app.css">
    <script type="text/javascript" src="functions.js"></script>

</head>

<body>
    <div class="container">
        <h1><u>Intro to Functions:</u></h1>

        <h4>Objectives:</h4>
        <ul>
            <li>Why functions are used</li>
            <li>Define func without args</li>
            <li>Define func with args</li>
            <li>Return a value from a func</li>
        </ul>

        <h4>Functions:</h4>
        <ul>
            <li>Declare a function first</li>
            <li>Then Call it </li>
        </ul>

        <h4>Function Arguments:</h4>
        <ul>
            <li>Lets the function take inputs</li>
        </ul>

        <h4>Function Return Keywords:</h4>
        <ul>
            <li>How you get values back from a function</li>
            <li>Need to use "return var;" to return a value back from function</li>
            <li>Stops the Execution of the function</li>
        </ul>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>

</body>

</html>