<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Flexbox</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Or Link CSS File -->
    <!-- <link rel="stylesheet" href="app.css"> -->
</head>

<body>
    <div class="container">
        <h1 class=" text-center display-4">Flexbox:</h1>
        <a href="https://getbootstrap.com/docs/4.3/utilities/flex/" target="_blank">Flex Bootstrap Docs:</a>

        <ul>
            <li>Start from top to bottom</li>
            <li>Starts from left to right</li>
            <li>Can also change flex direction</li>
            <li>Justify content is how you move things</li>
            <ul>
                <li>justify content start is default</li>
            </ul>
            <li>justify-content-end: moves to the right side</li>
        </ul>

        <h3>justify-content-end</h3>
        <div class=" border border-dark d-flex justify-content-end" style=" height: 100px;">
            <button class=" btn btn-info btn-lg">LARGE</button>
            <button class=" btn btn-warning">SMALL</button>

        </div>
        <h3>justify-content-center</h3>
        <div class=" border border-dark d-flex justify-content-center" style=" height: 100px;">
            <button class=" btn btn-info btn-lg">LARGE</button>
            <button class=" btn btn-warning">SMALL</button>

        </div>
        <h3>justify-content-between</h3>
        <div class=" border border-dark d-flex justify-content-between" style=" height: 100px;">
            <button class=" btn btn-info btn-lg">LARGE</button>
            <button class=" btn btn-warning">SMALL</button>

        </div>
        <h3> justify-content-around</h3>
        <div class=" border border-dark d-flex justify-content-around" style=" height: 100px;">
            <button class=" btn btn-info btn-lg">LARGE</button>
            <button class=" btn btn-primary">SMALL</button>
            <button class=" btn btn-warning">SMALL</button>
        </div>

        <h2>Top to Bottom:</h2>

        <h3>justify-content-around align-items-start</h3>
        <div class=" border border-dark d-flex justify-content-around align-items-start" style=" height: 100px;">
            <button class=" btn btn-info btn-lg">LARGE</button>
            <button class=" btn btn-primary">SMALL</button>
            <button class=" btn btn-warning">SMALL</button>
        </div>

        <h3>justify-content-around align-items-start</h3>
        <div class=" border border-dark d-flex justify-content-around align-items-center" style=" height: 100px;">
            <button class=" btn btn-info btn-lg">LARGE</button>
            <button class=" btn btn-primary">SMALL</button>
            <button class=" btn btn-warning">SMALL</button>
        </div>

        <h3>justify-content-around align-items-baseline</h3>
        <div class=" border border-dark d-flex justify-content-around align-items-baseline" style=" height: 100px;">
            <button class=" btn btn-info btn-lg">LARGE</button>
            <button class=" btn btn-primary">SMALL</button>
            <button class=" btn btn-warning">SMALL</button>
        </div>
    </div>

    <div class="container">
        <h1 class=" text-center">Flexbox Part 2:</h1>

        <ul>
            <li>Changing direction of flexbox</li>

        </ul>
        <h4>d-flex flex-row-reverse justify-content-start align-items-end</h4>
        <div class=" border border-dark d-flex flex-row-reverse justify-content-start align-items-end" style=" height: 100px;">
            <button class=" btn btn-info btn-lg">LARGE</button>
            <button class=" btn btn-primary">SMALL</button>
            <button class=" btn btn-warning">SMALL</button>
        </div>

        <h4>d-flex flex-column</h4>
        <div class=" border border-dark d-flex flex-column" style=" height: 100px;">
            <button class=" btn btn-info btn-lg">LARGE</button>
            <button class=" btn btn-primary">SMALL</button>
            <button class=" btn btn-warning">SMALL</button>
        </div>
        <h4>d-flex flex-column justify-content-around</h4>
        <div class=" border border-dark d-flex flex-column justify-content-around" style=" height: 200px;">
            <button class=" btn btn-info btn-lg">LARGE</button>
            <button class=" btn btn-primary">SMALL</button>
            <button class=" btn btn-warning">SMALL</button>
        </div>
        <h4>d-flex flex-column justify-content-between</h4>
        <div class=" border border-dark d-flex flex-column justify-content-between" style=" height: 200px;">
            <button class=" btn btn-info btn-lg">LARGE</button>
            <button class=" btn btn-primary">SMALL</button>
            <button class=" btn btn-warning">SMALL</button>
        </div>

        <h4>d-flex flex-column-reverse justify-content-start align-items-end</h4>
        <div class=" border border-dark d-flex flex-column-reverse justify-content-start align-items-end" style=" height: 200px;">
            <button class=" btn btn-info btn-lg">LARGE</button>
            <button class=" btn btn-primary">SMALL</button>
            <button class=" btn btn-warning">SMALL</button>
        </div>
    </div>

    <div class="container">
        <h1 class=" text-center">Making it responsive:</h1>

        <h1 class=" display-4 text-center">EXAMPLE TIME</h1>

        <div class=" d-flex justify-content-around flex-column flex-md-row">
            <button class="btn btn-dark btn-lg">Link 1</button>
            <button class="btn btn-dark btn-lg">Link 2</button>
            <button class="btn btn-dark btn-lg">Link 3</button>
            <button class="btn btn-dark btn-lg">Link 4</button>
            <button class="btn btn-dark btn-lg">Link 5</button>
            <button class="btn btn-dark btn-lg">Link 6</button>

        </div>






    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>

</body>

</html>