<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Selector Exercise:</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Link CSS of JavaScript File Here -->
    <link rel="stylesheet" href="app.css">
</head>

<body>

    <h1>jQuery Selector Exercise:</h1>
    <div>Div 1</div>
    <div class="highlight">Div 2</div>
    <div id="third">Div 3</div>
    <div class="highlight">Div 4</div>

    <ul>
        <li>include jquery</li>
        <li>Select all divs</li>
        <ul>
            <li>Give Purple Background</li>
        </ul>
        <li>Select all divs with class "highlight"</li>
        <ul>
            <li>make them 200px wide</li>
        </ul>
        <li>Select all div with id = "third":</li>
        <ul>
            <li>give 2px orange solid border</li>
        </ul>
        <li>Select first div only</li>
        <ul>
            <li>change font color to pink</li>
        </ul>
    </ul>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="script.js"></script>

    </div>

</body>

</html>