body {
    background-color: #232323;
}

/* Square Styles */
.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#container {
    max-width: 600px;
    /* Margin top and bottom 0 left and right auto */
    margin: 0 auto;
}

h1 {
    color: white;
}

/* 
span {
    color: white;
} */

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    background: blue;
}

button{
    outline: none;
}