<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Array Methods</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Link CSS of JavaScript File Here -->
    <link rel="stylesheet" href="app.css">
    <script type="text/javascript" src="script.js"></script>
</head>

<body>

    <div class="container">
        <h1><u>Array Methods:</u></h1>
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array" target="_blank">Array Methods MDN Docs:</a>

        <h4>Push and Pop:</h4>
        <ol>
            <li>Push: add to the end of an array & returns length of new array</li>
            <ul>
                <li>arrayVar.push("")</li>
            </ul>
            <li>Pop: Removes and returns the last element in array</li>
        </ol>

        <h4>Shift and Unshift:</h4>
        <ol>
            <li>Unshift: add item to the front of an array returns new array length</li>
            <ul>
                <li>arrayvar.unshift("") </li>
            </ul>
            <li>Shift: To remove the first item in array and returns the item</li>
            <ul>
                <li>arrayVar.shift()</li>
            </ul>
        </ol>

        <h4>More Methods:</h4>
        <ol>
            <li>IndexOf: finds the index of an item in an array</li>
            <ul>
                <li>arrayVar.indexOf("")</li>
                <li>Starts from index 0</li>
                <li>Returns -1 if item is not in the array</li>
            </ul>
            <li>Slice: To copy parts of an array</li>
            <ul>
                <li>specify index where the new array starts and ends</li>
                <li>arrayVar.slice(start,end)</li>
                <li>copy whole array by not inputting any args</li>
            </ul>
        </ol>




    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>

</body>

</html>