p {

    /*Content - Width and Height*/
    /* 50% of the parent element which is the body in this case */
    width: 50%;

    /*Border*/

    border: 2px solid blue;

    /*Padding*/
    /* Padding is between the boarder and the content */
    /* padding: 10px; */
    padding-left: 40px;

    /*padding: 10px;*/

    /*Margin*/
    /* margin: 100px; */
    /*margin-top: 500px;*/
    /* margin: 20px 40px 500px 100px; */

    /* Top and bottom 0 left and right auto */
    /* margin: 0 auto 0 auto; */

    /* Top and Bottom 0 left and right auto */
    margin: 0 auto;



}