body {
    font-family: roboto;
    background: #00c3ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffff1c, #00c3ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* color: white; */
}

h1 {
    background: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background: white;
    height: 40px;
    line-height: 40px
}

/* Changing background of every other li */
li:nth-child(2n) {
    background: #f7f7f7;
}

input {
    font-size: 18px;
    background: #f7f7f7;
    color: #2980b9;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
    background: white;
    color: #2980b9;
    outline: none;
}

span {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
}

/* Moving Plus Icon to right */
.fa-plus {
    float: right;
}

.fa-trash {
    margin: 10px auto;
}

#container {
    width: 360px;
    background: #f7f7f7;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed {
    color: gray;
    text-decoration: line-through;
}