<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ToDo List</title>

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <!--Link CSS of JavaScript File Here -->
    <link rel="stylesheet" type="text/css" href="assets/css/todos.css">
    <script type="text/javascript" src="assets/js/lib/jquery-2.1.4.min.js"></script>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">


</head>

<body>


    <div id="container">
        <h1>To-Do Lists <i class="fa fa-plus"></i></h1>

        <input type="text" placeholder="Add New Todo">

        <ul>
            <li> <span><i class="fa fa-trash"></i></span> Go To Potions Class</li>
            <li> <span><i class="fa fa-trash"></i></span> Buy New Robes</li>
            <li> <span><i class="fa fa-trash"></i></span> Visit Hagrid</li>
        </ul>


    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>-->
        <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/todos.js"></script>
    </div>

</body>

</html>