body {
    color: rgb(240, 244, 248);
    background: url(https://i0.wp.com/freshimports.org/wp-content/uploads/2016/04/background-horizontal-dark-wood.jpeg);
    background-repeat: no-repeat;

}

li {
    border: 2px rgba(255, 0, 0, .3) solid
}

#special {

    background-color: grey
}

.completed {
    text-decoration: line-through
}