<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Display</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Or Link CSS File -->
    <!-- <link rel="stylesheet" href="app.css"> -->
</head>

<body>

    <div class="container">
        <h1 class=" text-center display-4">Display:</h1>
        <a href="https://getbootstrap.com/docs/4.3/utilities/display/" target="_blank">Display Bootstrap Docs</a>

        <h1 class=" border border-danger d-inline">HELLO</h1>
        <h1 class=" border border-success d-block">HELLO</h1>


        <h1 class=" d-xl-none"> HIDE ME ON XL</h1>
        <h1 class=" d-lg-block d-none d-xl-none">ALWAYS HIDDEN EXCEPT LG</h1>
    </div>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Jumbo heading</h1>
            <p class="lead d-none d-sm-block">Nostrud ad Lorem fugiat irure laboris ullamco aliquip irure. Duis occaecat in quis mollit. Occaecat excepteur cupidatat anim nulla velit dolor aliqua nostrud aliqua consequat.</p>
            <hr class="my-2">
            <p>More info</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
            </p>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>

</body>

</html>