<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Selector Methods</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Link CSS of JavaScript File Here -->
    <link rel="stylesheet" href="app.css">
    <script type="text/javascript" src="script.js"></script>

</head>

<body>

    <div class="container">
        <h1>Selector Methods:</h1>
        <a href="http://webdev.slides.com/coltsteele/deck-30-71#/3" target="_blank">DOM Slides:</a>

        <h4>5 Main Methods:</h4>
        <ol>
            <li>document.getElementById()</li>
            <ul>
                <li>Takes a string argument and returns the one element with a matching ID</li>
                <li>var tag = document.getElementById("highlight");</li>
            </ul>
            <li>document.getElementByClassName()</li>
            <ul>
                <li>Takes a string argument and returns a list of elements that have a matching class</li>
                <li>var tags = document.getElementsByClassName("bolded");</li>
            </ul>
            <li>document.getElementByTagName()</li>
            <ul>
                <li>Returns a list of all elements of a given tag name, like li or h1 </li>
                <li>var tags = document.getElementsByTagName("li");</li>
            </ul>
            <li>document.querySelector()</li>
            <ul>
                <li>returns the first match thats it</li>
                <li>select class: .className</li>
                <li>select id: #idName</li>
                <li>select obj: "body","h1"</li>
            </ul>
            <li>document.querySelectorAll()</li>
            <ul>
                <li>returns all instances of query</li>
            </ul>
        </ol>

    </div>

    <body>
        <h1>Hello</h1>
        <h1>Goodbye</h1>
        <ul>
            <li id="highlight">List Item 1</li>
            <li class="bolded">List Item 2</li>
            <li class="bolded">List Item 3</li>
        </ul>
    </body>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>

</body>

</html>