<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JS Loops</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Or Link CSS File -->
    <link rel="stylesheet" href="app.css">
</head>


<body>
    <div class="container ml-5">
        <h1><u>JavaScript Loops</u></h1>

        <ol>
            <li>While Loops:</li>
            <ul>
                <li>Repeat code WHILE a condition is true</li>
                <li>Got to be carful not to create an forever loop</li>
                <li>while(condition) { <br> CODE <br> }</li>

            </ul>
        </ol>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->



    <div>
        <script src="loop.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>

</body>

</html>