body {
    background-color: rgb(72, 73, 73);
    color: rgb(240, 244, 248);
}

/* unvisited link */
a:link {
    color: rgb(112, 195, 216);
}

/* visited link */
a:visited {
    color: rgb(171, 81, 206);
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: rgb(224, 241, 123);
}