<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Intro to For Loops </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Or Link CSS File -->
    <link rel="stylesheet" href="app.css">
</head>


<body>
    <div class="container pl-5">
        <h1><u>Intro to For Loops:</u></h1>

        <h4>For Loops:</h4>
        <ul>
            <li>Iterates through number adding a certain amount each time</li>
        </ul>

        <h3>For Loops Problem Set:</h3>
        <ol>
            <li>Print all numbers between -10 and 19</li>
            <li>Print all even # between 10 and 40</li>
            <li>Print all odd # between 300 and 333</li>
            <li>Print all # divisible by 5 and 3 between 5 and 50</li>
        </ol>



    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <script src="forloop.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>

</body>

</html>