<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JS Stalker Exercise</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Or Link CSS File -->
    <link rel="stylesheet" href="app.css">
</head>

<body>

    <div class="container">
        <h1>JS Stalker Exercise</h1>
        <h4>Variables, Strings, Prompt, and Console.log</h4>
        <ul>
            <li>Ask for the user's first name</li>
            <li>Ask for the user's Last name</li>
            <li>Ask for the user's Age</li>
            <li>Print out the user's full name in a sentence</li>
            <li>Print out the user's age in a sentence</li>
        </ul>
    </div>

    <script src="script.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>

</body>

</html>