<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Intro to jQuery</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Link CSS of JavaScript File Here -->
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <div class="container">
        <h1>Intro to jQuery:</h1>
        <a href="https://jquery.com" target="_blank">jQuery Website</a>

        <h4>Why Use jQuery?</h4>
        <ul>
            <li></li>
        </ul>

        <h4>Why Not Use jQuery?</h4>
        <ul>
            <li>DOM API is no longer broken</li>
            <li>can do everything without it</li>
            <li>Performance</li>
            <li>Lots of people are moving away</li>
        </ul>

        <h4>Adding jQuery</h4>
        <ol>
            <li>Download jQuery and use locally</li>
            <xmp>
                <script type="text/javascript" src="path"></script>
            </xmp>
            <li>Link to a CDN(a hosted copy) Content Distributed Network</li>
            <xmp>
                <script type="text/javascript" src="url"></script>
            </xmp>
        </ol>

        <h4>Selecting with jQuery:</h4>
        <xmp>$("selectorGoesHere")</xmp>
        <p>Very similar to querySelectorAll</p>
        <ul>
            <li>provide a CSS style selector and jQuery will return all matching elements</li>
            <li>Sekect akk if a tag</li>
            <xmp>$("div")</xmp>
            <li>Select all elements with Class:</li>
            <xmp>$(".className")</xmp>
            <li>Select element with id:</li>
            <xmp>$("#bonus")</xmp>
            <li>Select all a tags inside of li's</li>
            <xmp>$("li a")</xmp>
        </ul>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        <script type="text/javascript" src="script.js"></script>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>

</body>

</html>