body {
    background: black;
    color: whitesmoke;
}


.pink {
    background: pink;
    border: 1px solid purple;
    color: black;
}

.orange {
    background: orange;
    border: 1px solid red;
    height: 50px;
}