<!-- Includes header partial -->
<% include partials/header %>

<h1>This is the home page</h1>

<p>Renders content to the page</p>

<ul>
    <li>= displays the final product to the screen</li>
    <li>Without = is for logic and does not output anything to the screen</li>
</ul>



<img src="https://d17fnq9dkz9hgj.cloudfront.net/breed-uploads/2018/09/dog-landing-hero-lg.jpg?bust=1536935129&width=1080" alt="">

<!-- Include the footer template  -->
<% include partials/footer %>