<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spacing Utility</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Or Link CSS File -->
    <!-- <link rel="stylesheet" href="app.css"> -->
</head>

<body>
    <h1 class=" text-center">Spacing Utility</h1>
    <a href="https://getbootstrap.com/docs/4.3/utilities/spacing/" target="_blank">Spacing Utility Bootstrap Docs: <br> </a>

    <div class="container">
        <h1 class=" text-center display-1">Utilities</h1>

        <!-- Border -->
        <h5 class=" border border-danger rounded-top">Give Me A Border</h5>
        <h5 class=" border-top border-info">border-top border-info</h5>
        <h5 class=" border border-left-0 border-warning">border border-left-0 border-warning</h5>

        <!-- Padding - ignoring responsive ones -->
        <h2>Padding:</h2>
        <h3>Basic Padding:</h3>
        <button class=" btn btn-info p-0">P0</button>
        <button class=" btn btn-info p-1">P1</button>
        <button class=" btn btn-info p-2">P2</button>
        <button class=" btn btn-info p-3">P3</button>
        <button class=" btn btn-info p-4">P4</button>
        <button class=" btn btn-info p-5">P5</button>
        <!-- Padding top and bottom -->
        <h3>Padding On The Sides:</h3>
        <button class=" btn btn-info pt-3">pt-3:</button>
        <button class=" btn btn-info pb-3">pb-3:</button>
        <button class=" btn btn-info py-3">py-3:</button>
        <button class=" btn btn-info pl-3">pl-3:</button>
        <button class=" btn btn-info pr-3">pr-3:</button>
        <button class=" btn btn-info px-3">px-3:</button>

        <!-- Margin -->
        <h3>Margin:</h3>
        <p class=" bg-success text-white m-0">I Am m-0</p>
        <p class=" bg-success text-white m-1">I Am m-1</p>
        <p class=" bg-success text-white m-2">I Am m-2</p>
        <p class=" bg-success text-white m-3">I Am m-5</p>
        <p class=" bg-success text-white m-4">I Am m-4</p>
        <p class=" bg-success text-white m-5">I Am m-5</p>







    </div>

    <!-- Optional JavaScript -->
    <br><br><br><br><br> <br><br><br><br><br>
    <br><br><br><br><br>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>

</body>

</html>